<!-- your html code here -->

<div class="container-fluid mt-2">
    <div class="row">
        <div>
            <h2>Contact</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi dolor molestiae eaque corporis! Ex
                ratione, quidem, dolorum cumque magnam adipisci accusantium numquam blanditiis temporibus molestias
                animi fuga iure quae! Doloremque corrupti illo in, debitis impedit repellat neque voluptatem sit quasi
                error qui omnis, tempore ad minus a sed magni deserunt!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto p-6">
            <form>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="your email here">

                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                    

                        </textarea>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary ">Submit</button>

                        </div>
                    </div>                    
            </form>

        </div>

    </div>
</div>