<!-- your html code here -->
<h4>Porfolio</h4>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consequuntur atque eaque nemo esse! Quaerat
    reprehenderit suscipit laboriosam eos nulla natus, minus nemo vitae. Earum dicta tempora eius possimus sed.</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="image bg-secondary" style="width: 480px; height: 200px;">

            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="image bg-secondary" style="width: 480px; height: 200px;">

            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="image bg-secondary" style="width: 480px; height: 200px;">

            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>